body {
  font-family: "Protest Riot", sans-serif;
  background: linear-gradient(131deg, #ce05ff, #ff04a1, #1424e6);
  background-size: 600% 600%;

  background: linear-gradient(110deg, #ff0000, #f70bb8, #0b1df7);
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite;

  /* Background image */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh;
}

.emotion-contents {
  display: flex;
  max-width: 50%;
  margin: 0 auto;
  justify-content: space-around;
}

.emotion-wrapper {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.emotion {
  margin-bottom: 35px;
  font-size: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 50px;
  color: white;
  animation: stroke 6s infinite alternate;
  stroke-width: 2;
  stroke: white;
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
  }
  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 3;
  }
  100% {
    fill: rgba(72, 138, 204, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.bible-logo {
  width: 40px; /* Set the width of the SVG */
  height: 40px; /* Set the height of the SVG */
  /* Change the color of the SVG */
}

.container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh; /* Full viewport height */
}

.message-container {
  text-align: center; /* Center the text horizontally */
  font-size: 30px;
}

.emotion-verse {
  color: white;
}

.back-button {
  color: white;
  padding: 10px;
  font-size: 20px;
}
